# Rewrite non /hypha/hypha/ requests to /hypha/hypha/

RewriteCond %{REQUEST_URI} !^/hypha/hypha/

RewriteRule ^(.*)$ /hypha/hypha/$1 [L]

# Rewrite requests to non-existing files/dirs to /hypha/hypha/index.html

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ /hypha/hypha/index.html [L]
